html, body {
  background-color: #d0d0d0;
}

button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}
template{display:none}


html {
  --text-shadow: 2px 2px 0 rgba(0,0,0,0.2);
  --box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app {
  max-width: 800px;
  background: white;
}

.app form {
  border:0;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-rows: 1fr;
  font-size: 3rem;
  text-align: center;
  font-weight: 600;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  grid-gap:2rem;
  align-items: stretch;
}

.app h1 {
  font-size: 3rem;
}


.app :is(button, input, select, textarea) {
  margin:0;
  text-align: center;
  font-weight: 600;
  border:0;
}

.app :is(button, input, select, textarea):focus {
  outline-color: rgb(153, 130, 238);
}

.app input {
  width: 300px;
}

.app select {
  background: none;
  border:0;
  padding: 2rem;
}

.app form > * {
  background:lightsteelblue;
  margin: 0;
  border-radius: 0;
  -webkit-appearance: none;
  display: grid;
  align-content: center;
}

a.button, button, input[type="button"] {
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color:black;
  background:cornflowerblue;
  padding: 12px 28px;
  border-radius: 4px;
  text-transform: uppercase;
  left: 50%;
  display: grid;
  text-decoration: none;
  font-weight: 300;
  font-size:2rem;
}

.cursvalutar {
  max-width: 800px;
  background:cross-fade();
}


.cursvalutar form {
  border:0;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-rows: 1fr;
  font-size: 3rem;
  text-align: center;
  font-weight: 600;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  grid-gap:2rem;
  align-items: stretch;
}
